<h1>Editando Animal Encontrado</h1>

<%= render 'form', animal_found: @animal_found %>

<%= link_to 'Mostrar', @animal_found, clas: "btn btn-primary" %> |
<%= link_to 'Voltar', animal_founds_path, clas: "btn btn-primary" %>
