<h1>Editar Animal Perdido</h1>

<%= render 'form', animal_lost: @animal_lost %>

<%= link_to 'Mostrar', @animal_lost, clas: "btn btn-primary" %> |
<%= link_to 'Voltar', animal_losts_path, clas: "btn btn-primary" %>
