<h1>Bem vindo ao Track my pet</h1>
<p>
    Sua nova forma de encontrar e anunciar um animal perdido!
</p>

<!--<a href="/" class="btn btn-lost-animals">Perdi meu animalzinho</a>-->

<p> 
    <table style="width:90%">
        <tr>
            <td><%= link_to 'Perdi meu animalzinho', animal_losts_path, class: 'btn btn-primary btn-lg' %></td>
            <td><%= link_to 'Achei um animalzinho', animal_founds_path, class: 'btn btn-primary btn-lg' %></td>
        </tr>
    </table>
</p>