<h1>Bem vindo ao Track my pet</h1>
<h2>Sua nova forma de encontrar e anunciar um animal perdido!</h2>

<!--<a href="/" class="btn btn-lost-animals">Perdi meu animalzinho</a>-->

<a href="<%= animal_losts_path(@animal_losts) %>" class="btn-rounded lost-animals">Perdi meu animalzinho</a>
<a href="<%= animal_founds_path(@animal_founds) %>" class="btn found-animals">Achei um animalzinho</a>