<h1>Bem vindo ao Track my pet</h1>
<h2>Sua nova forma de encontrar e anunciar um animal perdido!</h2>

<!--<a href="/" class="btn btn-lost-animals">Perdi meu animalzinho</a>-->

<a href="<%= lost_animals_path(@lost_animals) %>" class="btn-rounded lost-animals">Perdi meu animalzinho</a>
<a href="<%= found_animals_path(@found_animals) %>" class="btn found-animals">Achei um animalzinho</a>