<h1>Bem vindo ao Track my pet</h1>
<h4>Sua nova forma de encontrar e anunciar um animal perdido!</h4>

<div class="container">
    <div class="row-align-items-center" height="50%">
        <div class="col-md-4"><%= link_to 'Perdi meu animalzinho', animal_losts_path, class: 'btn btn-primary btn-lg btn-block' %></div>
        <div class="col-md-4"><%= link_to 'Achei um animalzinho', animal_founds_path, class: 'btn btn-primary btn-lg btn-block' %></div>
    </div>
</div>


<!--<div class="container">
    <div class="row-align-items-center">
        <div class="col-md-4"><%= link_to 'Animais Encontrados', animal_losts_path, class: 'btn btn-primary btn-lg btn-block' %></div>
        <div class="col-md-4"><%= link_to 'Animais Perdidos', animal_founds_path, class: 'btn btn-primary btn-lg btn-block' %></div>
    </div>
</div>-->