// Place all the styles related to the AnimalLosts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.my_custom_table {
    min-width: 350px;
    font-size: 14px;
}

table {
    border-collapse: collapse;
    display: table;
    border-spacing: 2px;
    border-color: grey;
    text-align: center!important;
}

.my_custom_thead {
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: .2em;
    background-color: #f8f9fa !important;
}

thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

.table td, .table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}