// Place all the styles related to the Welcome_Page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$gray-medium-light: #EAEAEA;

.post-card {
  display: inline-block;
}

.post-legenda {
  display: inline-block;
  font-size: 10px;
  color: gray;
}

.caption {
  .legenda {
    padding-top: 5px;
    text-align: center;
  }
}


