// Place all the styles related to the Welcome_Page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.btn-rounded.lost-animals{
    background-color: coral;
    border-bottom-color: coral;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-style: solid;
    
}
.btn-rounded.found-animals{

}