<footer>
  <small>
    <%= link_to 'Contact List. Todos os direitos reservados.', root_path %>
  </small>

  <nav>
    <ul>
      <li>
        <%= link_to 'Perdi meu animalzinho', animal_losts_path(@animal_losts) %>
      </li>
      <li>
        <%= link_to 'Achei um animalzinho', animal_founds_path(@animal_founds) %>
      </li>
    </ul>
  </nav>
</footer>