<!--<footer>
  <small>
    <%= link_to 'TrackPet. Todos os direitos reservados.', root_path %>
  </small>

  <nav>
    <ul>
      <li>
        <%= link_to 'Animais encontrados', '#' %>
      </li>
      <li>
        <%= link_to 'Animais perdidos', '#' %>
      </li>
    </ul>
  </nav>
</footer>-->
